<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Your transfer of
    <span data-th-text="${transferdetail.amount}"></span>
    from 
    <span  data-th-text="${fromAccount.name} + ' ('+ ${fromAccount.accountId} + ')'"></span>
    to
    <span  data-th-text="${toAccount.name} + ' ('+ ${toAccount.accountId} + ')'"></span>
    is successful.
    <br>
    Transaction id is
    <span data-th-text="${transferdetail.transactionId}"></span>
    <br>
</body>
</html>