<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
		.error{
			color:red
		}
	</style>
    <title>Document</title>
</head>
<body>
    <h1>Funds Transfer</h1>
    <form action="#" data-th-action="@{/transfer}" data-th-object="${transaction}" method="post">
        <table>
            <tr>
                <td>From account:</td>
                <td>
                    <!-- data-th-field: Java Object attribute to assign input value to
                            data-th-value: user inputted value
                            data-th-text: text appearing on .html/webpage -->
                    <select data-th-field="*{fromAccountId}" required>
                        <option data-th-each="acc : ${accounts}" data-th-value="${acc.accountId}" 
                        data-th-text="${acc.name} + ' ('+ ${acc.accountId} + ')'"></option>
                    </select>
                    
                </td>
            </tr>
            <tr></tr>
                <td>To account:</td>
                <td>
                    <select data-th-field="*{toAccountId}" required>
                        <option data-th-each="acc : ${accounts}" data-th-value="${acc.accountId}" 
                        data-th-text="${acc.name} + ' ('+ ${acc.accountId} + ')'"></option>
                        
                    </select>
                </td>
                </td>
            </tr>
            <tr>
                <td>Amount:</td>
                <td>
                    <input type="text" name="amount" data-th-field="*{amount}" size="30">
                </td>
            </tr>
            <tr>
                <td>Comment:</td>
                <td>
                    <textarea name="comment"></textarea>
                </td>
            </tr>
            <tr>
                <td></td>
                <td><button type="submit">Transfer</button></td>
            </tr>
            
        </table>
         <!-- <input type="hidden" name="ch" data-th-value="${game.gid}"> -->
        <!-- <span class="error" data-th-if="${#fields.hasErrors('amount')}" data-th-errors="*{amount}" size="50"></span>
        <span class="error" data-th-if="${#fields.hasErrors('fromAccountId')}" data-th-errors="*{fromAccountId}" size="50"></span>
        <span class="error" data-th-if="${#fields.hasErrors('toAccountId')}" data-th-errors="*{toAccountId}" size="50"></span>
        <span class="error" data-th-if="${#fields.hasErrors('sameAccount')}" data-th-errors="*{sameAccount}" size="50"></span>
        <span class="error" data-th-if="${#fields.hasErrors('suffBalance')}" data-th-errors="*{suffBalance}" size="50"></span> -->
        
        <div data-th-if="${#fields.hasErrors('*')}">
            <p 
            class="error"
            data-th-each="err: ${#fields.errors('*')}"
            data-th-text="${err}" 
            ></p>
        </div>

        <!-- Lecture 13 -->
        <!-- <div data-th-if="${#fields.hasErrors('*')}">
            <p
              style="color: tomato"
              data-th-each="err: ${#fields.errors('*')}"
              data-th-text="${err}"
            ></p>
          </div> -->
    </form>
</body>
</html>